<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Nicolas</title>
</head>
<!- This is a replacement block for Body in base.html -->
{% block body %}
<h1 style="color:cornflowerblue;">Meet Nicolas!</h1>
<body style="background-color:skyblue;">
<img src="https://media0.giphy.com/media/mP8YqtjCNOB9HLyrn0/200w.gif?cid=82a1493b7t5i4khdgl6mj5s0b78y0l74djn62olfo42f7dh5&rid=200w.gif&ct=g" alt="">
<p style="color:white"> Hi, my name is Nicolas. I am currently a sophmore at Del Norte Highschool. </p>
<p style="color:white"> I play soccer for the JV team and enjoy hanging out with friends and playing games in my free time. </p>
<p style="color:white"> I have a twin sister too and like to travel.</p>
    <div>
        <h2 style="color:white">Picture:</h2>
        <img src=/static/nicolasphotos/nicolas_pic.jpg id="getImage">
    </div>
    <div>
        <input type="button" onclick="imagechange()" value="Change Image">
    </div>
    <script>
        function imagechange() {
            var Image_Id = document.getElementById('getImage');
            if (Image_Id.src.match("/static/nicolasphotos/nicolas_pic.jpg")) {
                Image_Id.src = "/static/nicolasphotos/nicolas_mask_pic.jpg";
            }
            else {
                Image_Id.src = "/static/nicolasphotos/nicolas_pic.jpg";
            }
        }
    </script>
<a href="https://docs.google.com/document/d/1cUC118ElQNjxUQJUZK0I8cet_aIrYRc2IVTN099TU9I/edit"> My Journal </a>
<a class="nav-link" href="/game">API</a>
</body>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

</html>


