<!-- Extending the predefined project layout -->
{% extends "layouts/layouts.html" %}

{% block content %}
<style>

</style>

<h1>Terms</h1>

<table style="width:60%" border="1" align="center">
    <tr>
        <th>
            <h2>Binary</h2>
            <input type="checkbox" id="checkboxA" value="unchecked" onclick="toggleInfo()">Info</input>
        </th>
        <th id="binary"></th>
    </tr>
    <tr>
        <th>
            <h2>Hexadecimal</h2>
            <input type="checkbox" id="checkboxB" value="unchecked" onclick="toggleInfo()">Info</input>
        </th>
        <th id="hexadecimal"></th>
    </tr>
    <tr>
        <th>
            <h2>Bit</h2>
            <input type="checkbox" id="checkboxC" value="unchecked" onclick="toggleInfo()">Info</input>
        </th>
        <th id="bit"></th>
    </tr>
    <tr>
        <th>
            <h2>Nibble</h2>
            <input type="checkbox" id="checkboxD" value="unchecked" onclick="toggleInfo()">Info</input>
        </th>
        <th id="nibble"></th>
    </tr>
    <tr>
        <th>
            <h2>Byte</h2>
            <input type="checkbox" id="checkboxA" value="unchecked" onclick="toggleInfo()">Info</input>
        </th>
        <th id="byte"></th>
    </tr>
</table>

    const b = document.getElementById("checkboxB");
    const c = document.getElementById("checkboxC");
    const d = document.getElementById("checkboxD");
    const e = document.getElementById("checkboxE");
<script>
    function toggleInfo() {
        const a = document.getElementById("checkboxA");

        <!-- Binary -->
        if (a.checked) {
            document.getElementById("binary").innerHTML = 'Binary is the building block of computer software. Binary consists of 0 and 1, representing off and on respectively'
        } else {
            document.getElementById("binary").innerHTML = ''
        }
        <!-- Hexadecimal -->
        if (b.checked) {
            document.getElementById("hexadecimal").innerHTML = 'Test'
        } else {
            document.getElementById("hexadecimal").innerHTML = ''
        }
        <!-- Bit -->
        if (c.checked) {
            document.getElementById("bit").innerHTML = 'Test'
        } else {
            document.getElementById("bit").innerHTML = ''
        }

    }
</script>
{% endblock %}