<!-- Extending the predefined project layout -->
{% extends "layouts/layouts.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Isabella" %}

<!- This is a replacement block for Body in base.html -->
{% block content %}
<body style="background-image:url('/static/isabellaphotos/ezgif.com-gif-maker.gif');background-position: top; background-repeat: no-repeat; background-size:100%;">
    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: gilroy,serif;">
        <div style="text-align: center;color:white" >
            <p>My name is Isabella and I'm a senior</p>
            <p>I am currently applying to college and plan on studying international marketing or business</p>
            <p>I have 2 brothers, named Stanley and Jasper</p>
            <p>I also have two cats!</p>
            <p>I am on our school's track and field team and marching band</p>
            <p>I like to spend my free time playing video games like Valorant, Osu, and League of Legends</p>
            <p id="jokework"></p>
        </div>
    </div>

    <script>
        var xhr = new XMLHttpRequest();
        xhr.open("GET", baseURL + "/joke/" + categories.join(",") + "?" + params.join("&"));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status < 300) // readyState 4 means request has finished + we only want to parse the joke if the request was successful (status code lower than 300)
            {
                var randomJoke = JSON.parse(xhr.responseText);

                if (randomJoke.type === "single") {
                    // If type == "single", the joke only has the "joke" property
                    document.getElementById("jokework").innerHTML = randomJoke["joke"]

                } else {
                    // If type == "single", the joke only has the "joke" property
                    document.getElementById("jokework").innerHTML = randomJoke
                }
            } else if (xhr.readyState === 4) {
                alert("Error while requesting joke.\n\nStatus code: " + xhr.status + "\nServer response: " + xhr.responseText);
            }
        };

        xhr.send();
        })
    </script>
    <div>
        <img src=/static/isabellaphotos/isabella_no_mask3.jpg id="imageI">
    </div>
    <div>
        <input type="button" onclick="switchImage()" value="switch">
    </div>
    <script>
        function switchImage() {
            var Image_Id = document.getElementById('imageI');
            if (Image_Id.src.match("/static/isabellaphotos/isabella_no_mask3.jpg")) {
                Image_Id.src = "/static/isabellaphotos/isabella_mask2.jpg";
            }
            else {
                Image_Id.src = "/static/isabellaphotos/isabella_no_mask3.jpg";
            }
        }
    </script>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}


</form>
</body>
</html>
