<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/layouts.html" %}

{% block content %}
    <div class="container py-5 primary">

    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); width:80%">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"  style="width: 50%">
        <div class="box" style="padding: 2px 16px;">
            <h4 class="fw-bold">Your Account</h4>
            <p>Grade</p>
            <p>Bio</p>
        </div>
    </div>

    </div>

{% endblock %}