<!DOCTYPE html>
{% extends "layouts/layouts.html" %}
<html lang="en">
<meta charset="UTF-8">
{% block content %}
<style>
    body{
        background-color: cornflowerblue;
        background-size: 100%;
    }
</style>

<div class="container">
    <br>
    <h4>Please Register:</h4>
    <br>
    <form id="register">
        <br />
        <input
                style="text-align: center"
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                class="form-control"
        />
        <br />
        <input
                style="text-align: center"
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                class="form-control"
        />
        <br />
        <input
                style="text-align: center"
                class="btn btn-primary loginbtn"
                type="submit"
                value="Register"
        />
    </form>
    <input
            style="text-align: center"
            class="btn btn-primary loginbtn"
            type="submit"
            onclick="login()"
            value="Already have an account?"
    />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

    <script>
        const config = {
            apiKey: "AIzaSyAenDjZIOIGUFSr6RdjrhrEoLXWfxZRllU",
            authDomain: "delp-rocks.firebaseapp.com",
            projectId: "delp-rocks",
            storageBucket: "delp-rocks.appspot.com",
            messagingSenderId: "893401101117",
            appId: "1:893401101117:web:6804eab775ba87bdd3cb54",
            measurementId: "G-SDWS0XHJCW"
        };
        if (firebase.apps.length === 0) {``
            firebase.initializeApp(config);
            console.log("worked");
        }
        const auth = firebase.auth();
        var form = document.getElementById("register");
        var submit = document.getElementById("submit");

        form.onsubmit = function (e) {
            e.preventDefault();
            const email = form["email"].value;
            const password = form["password"].value;
            auth.createUserWithEmailAndPassword(email, password).then(function (){
                console.log('signed uppathname successfully')
                window.location.pathname = '/login'
            }).catch((err) => {
                if (err.code === "auth/email-already-in-use") {
                    window.location.pathname = "/error/"
                }
                if (err.code === "auth/weak-password") {
                    window.location.pathname = "/error/"
                }
                else if (err.code === "auth/invalid-email") {
                    window.location.pathname = "/error/"
                }
            });
        };
        function login() {
            window.location.pathname = "/login/"
        }
    </script>
</div>
{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

</html>