<!-- Extending the project layout, as this file will do minor customizations -->
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/layouts.html" %}
{% set class_number = class_list1|length %}

{% block content %}
    <img class="center" src="https://github.com/yqw7/dominators/blob/main/static/delnorte.jpeg?raw=true"/>

        <div class="container py-5 primary">

            <style>
                .center {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    position: relative;
                    background-size: cover;
                }

                .searchBar{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }



            </style>


            <div class="container">
                <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
                    <div class="col-12">
                        <form action="/walruses/" id="hello2" method="POST">
                            <label for="name">What class do you want to search for?</label>
                            <input name="name" id="name2">
                            <input type="submit" value="Search">
                        </form>

                        <p> The class you are looking for is {{name}}</p>
                    </div>
                </div>
            </div>
            <table style="border-collapse: collapse; border: 1px solid black;">
                <tr style="border-collapse: collapse; border: 1px solid black;">
                    <th style="height:30px;width:400px;text-align:center;">
                        Class List
                    </th>
                </tr>
                {% for i in range(class_number) %}
                <tr style="border-collapse: collapse; border: 1px solid black;">
                    <td style="text-align:center;">
                        {{ class_list1[i] }}
                    </td>
                </tr>
                {% endfor %}
            </table>

        <script>
            function search() {
                // fetch standard requires data set to a name-value pair
                const term = document.getElementById("term");
                const body = {
                    term: term.value
                };

                // fetch call with header options
                fetch('/crud/search/term/', {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(body),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                    // async then replies with response header
                    .then(function (response) {
                        // prepare HTML search result container for new output
                        const resultContainer = document.getElementById("result");
                        // clean up from previous search
                        while (resultContainer.firstChild) {
                            resultContainer.removeChild(resultContainer.firstChild);
                        }
                        // trap error response from Web API
                        if (response.status !== 200) {
                            const errorMsg = 'Database response error: ' + response.status;
                            console.log(errorMsg);
                            const div = document.createElement("div");
                            div.innerHTML = errorMsg;
                            resultContainer.appendChild(div);
                            return;
                        }
                        // response contains valid result
                        response.json().then(function(data) {
                            // loop through JSON and build HTML output
                            for (let i = 0; i < data.length; i++) {
                                const div = document.createElement("div");
                                div.innerHTML = data[i].name + ' ' + data[i].email;
                                resultContainer.appendChild(div);
                            }
                        })
                    })
            }

        </script>
{% endblock %}