<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/layouts.html" %}

{% block content %}
    <img class="center" src="https://github.com/yqw7/dominators/blob/main/static/delnorte.jpeg?raw=true"/>

        <div class="container py-5 primary">

            <style>
                .center {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    position: relative;
                    background-size: cover;
                }

                .searchBar{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

               table{
                   border-collapse: separate;
                   border-spacing:90px;
               }

               th{
                   padding: 10px;
               }





            </style>


            <!--<div class="container">
                <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
                    <div class="col-12">
                        <form action="/walruses" id="hello" method="POST">
                            <label for="name">Search for somebody?</label>
                            <input name="name" id="name">
                            <input type="submit" value="Search">
                        </form>
        -->

                    </div>
                </div>
            </div>

            <div class="container bg-light searchBar" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); width:80%; opacity:0.8">
                <div class="box"; style="padding: 2px 16px;">
                    <input type="text" class="form-control" id="term" placeholder="enter search term">
                    <label></label> <!-- spacer -->
                    <button class=fw-bold" style="opacity:1.0" onclick="search();">Search</button>
                </div>
            </div>


            <div class="container">
                <div class="row" id="result"></div>
            </div>

        </div>
    <div class="card center bg-light" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); width:80%;">
        <h2 class="ps-5 pt-3">Reccomendations</h2>

    <table>
        <th>
        <!--AP CSP -->
        <div class="card center py-3 bg-secondary" style="width:250px; height:150px;">
            <a href="/apcsp">
                <img src="https://github.com/yqw7/dominators/blob/main/static/apcspphotos/Screen%20Shot%202022-01-13%20at%209.49.00%20PM.png?raw=true" style="width:250px; height:155px;">
            </a>
        </div>
        <div class="card center text-dark text-py-3" style="width:252px; height:50px;">
            <p class="text-fw-bold">AP Computer Science Principles</p>
        </div>
        </th>

        <th>
        <!--HPOE -->
        <div class="card py-3 bg-secondary" style="width:250px; height:150px">
            <a href="/hpoe">
                <img src="https://github.com/yqw7/dominators/blob/main/static/hpoe.png?raw=true" style="width:250px; height:155px;">
            </a>
        </div>
        <div class="card text-dark text-py-3" style="width:252px; height:50px;">
            <p class="text-fw-bold">Honors Principles of Engineering</p>
        </div>
        </th>

        <th>
        <!--AP Studio Art -->
        <div class="card py-3 bg-secondary" style="width:250px; height:150px;">
                <a href="/apstudioart">
                    <img src="https://github.com/yqw7/dominators/blob/main/static/APSAr.png?raw=true" style="width:250px; height:155px;">
                </a>
        </div>
        <div class="card text-dark text-py-3" style="width:252px; height:50px;">
            <p class="text-fw-bold">AP Studio Art</p>
        </div>
        </th>
    </table>

    </div>

    <script>
            function search() {
                // fetch standard requires data set to a name-value pair
                const term = document.getElementById("term");
                const body = {
                    term: term.value
                };

                // fetch call with header options
                fetch('/crud/search/term/', {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(body),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                    // async then replies with response header
                    .then(function (response) {
                        // prepare HTML search result container for new output
                        const resultContainer = document.getElementById("result");
                        // clean up from previous search
                        while (resultContainer.firstChild) {
                            resultContainer.removeChild(resultContainer.firstChild);
                        }
                        // trap error response from Web API
                        if (response.status !== 200) {
                            const errorMsg = 'Database response error: ' + response.status;
                            console.log(errorMsg);
                            const div = document.createElement("div");
                            div.innerHTML = errorMsg;
                            resultContainer.appendChild(div);
                            return;
                        }
                        // response contains valid result
                        response.json().then(function(data) {
                            // loop through JSON and build HTML output
                            for (let i = 0; i < data.length; i++) {
                                const div = document.createElement("div");
                                div.innerHTML = data[i].name + ' ' + data[i].email;
                                resultContainer.appendChild(div);
                            }
                        })
                    })
            }

        </script>
{% endblock %}