<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me- Ethan" %}

<!- This is a replacement block for Body in base.html -->
{% block content %}
<body style="background-image:url('/static/Cabin in the woods.gif');background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="col-12" style="color: white">
        <h3> About Me - Ethan Guo </h3>
        <p>Hello, my name is Ethan Guo and I'm currently a sophomore.</p>
        <p>I have a younger sister, 2 dogs, and a cat.</p>
        <p>Some of hobbies include fencing, reading and playing video games such as Dead Cells, Smash Ultimate and soon to be MK11.</p>
    </div>
    <div class="center-block">
        <img src="/static/Cyclops.PNG" id="myImg" style="-webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: cover">
        <input type="button" onclick="changeImg()" value="Change" />
        <script type="text/javascript">
            function changeImg() {
                var image = document.getElementById('myImg');
                if (image.src.match("/static/Cyclops.PNG")) {
                    image.src = "/static/dark.jpg";
                }
                else {
                    image.src = "/static/Cyclops.PNG";
                }
            }
        </script>
        <a type="button" href="/postoftheday">r/gaming</a>
        <!--<a class="button" href="/nicolas">MARVEL</a>-->
    </div>


<!--<button type="button" href="/postoftheday">r/gaming</button> -->
<a href="https://docs.google.com/document/d/11cBSfBfDJXizFQeEGC3qvqjwIzic5QQyVkWxspujZPM/edit"> This is my journal</a>
<a href="https://github.com/FierceExplorer"> This is my Github account</a>

<h2> Characters with OwnerID</h2>

<table style="color: white">
    <tr>
        <th>Character Name</th><th>OwnerID</th>
    </tr>
    {% for i in range(58) %}
    <tr>
        <td>{{ text[i].Name }}</td><td>{{ text[i].OwnerId }}</td>
    </tr>
    {% endfor %}
</table>
    {% endblock %}

{% block background %}
{% endblock %}
