{% block body %}
<html>
<body>
<title>Smash API</title>
<h2> Smash API</h2>
<table style="border-collapse: 1px;">
    <tr>
        <th style="height:30px;width:400px;text-align:center;">
            Character Name : Character ID
        </th>
        <th style="height:30px;width:200px;text-align:center;">
            Character Image
        </th>
    </tr>
    {% for i in range(48) %}
    <tr>
        <td style="text-align:center;">
            {{ text[i].Name }} : {{ text[i].OwnerId}}
        </td>
        <td style="text-align:center;">
            <a target="_blank" href="{{ text[i].FullUrl }}">
                <img src ="{{ text[i].ThumbnailUrl }}" height="80" >
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>